<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Planets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="sidebar">
        <h2 id="planetName"></h2>
        <p id="planetInfo"></p>
        <img id="planetGif" src="" alt="Planet GIF" style="width: 100%; margin-top: 20px;" />
        <table id="planetDetails" style="width: 100%; margin-top: 20px;">
            <!-- This table will be populated dynamically with JavaScript -->
        </table>
    </div>     
    <h1>SOLAR SYSTEM</h1>
    
    <!-- Include Three.js and OrbitControls from Flask's static files -->
    <script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/OrbitControls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
